//Background Images
$sunny: url('../img/background-images/sunny2.jpg') no-repeat center right / cover;
$rainy: url('../img/background-images/rainy.jpg') no-repeat center right / cover;
$snowy: url('../img/background-images/snowy.jpg') no-repeat center right / cover;
$stormy: url('../img/background-images/stormy.jpg') no-repeat center right / cover;
$cloudy: url('../img/background-images/cloudy.jpg') no-repeat center right / cover;


// $container-color: rgba(0, 0, 0, 0.55);
$container-color: radial-gradient(circle, rgba(0, 0, 0, 0.5046393557422969) 25%, rgba(0, 0, 0, 0.6474964985994398) 50%, rgba(0, 0, 0, 0.7483368347338936) 75%);


$font: 'Roboto',
sans-serif;