//Background Images
$sunny: url('../img/background-images/sunny.jpg') no-repeat center right / cover;
$rainy: url('../img/background-images/rainy.jpg') no-repeat center right / cover;
$snowy: url('../img/background-images/snowy.jpg') no-repeat center right / cover;
$stormy: url('../img/background-images/stormy.jpg') no-repeat center right / cover;
$cloudy: url('../img/background-images/cloudy.jpg') no-repeat center right / cover;


$container-color: rgba(0, 0, 0, 0.55);

$font: 'Roboto',
sans-serif;