@import "config";
@import "mobile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.bg-image-container {
  // background: $rainy; //zmiana tła zależnie od pogody
  // background-image: url('../img/background-images/mist.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100vh;
  // z-index: -1;
  display: block;
}

//Class for buttons
.btn {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  width: 150px;
  padding: 0.7rem 0.5rem;

  background: rgb(246, 209, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  transition: 0.2s;

  &-high {
    padding: 0.9rem 0.5rem;
    margin-bottom: 0.5rem;
  }

  &:hover {
    background: rgb(255, 187, 0);
    // background: #000;
    // color: #fff;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

//Classes for created tasks' elements
.tasks-list {
  &__item {
    background: linear-gradient(162deg,
        rgba(1, 92, 183, 1) 42%,
        rgba(1, 93, 184, 0.6786064767703957) 83%,
        rgba(0, 80, 158, 0.7539390756302521) 100%);
    border: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 0.8rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
  }

  .delete-item {
    display: flex;
    align-items: center;
    // background: #333;
    border-radius: 5px;
    // padding: 0 0.6rem;
    color: #fff;
    transition: 0.2s;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.main-section {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  width: 100%;

  .settings-box {
    position: absolute;
    top: 15px;
    right: 15px;

    &__icon {
      color: rgba(#f4f4f4, 0.8);
      transition: 0.2s;
      cursor: pointer;
      font-size: 1.5rem;

      &:hover {
        color: #f4f4f4;
      }
    }
  }

  .container {
    margin: 2rem;
    background: $container-color; //ewentualna zmiana tła kontenerów zaleznie od pogody
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &__weather {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 2fr;
      // grid-gap: 1rem;
      // grid-template-areas:
      //   "weather-box  weather-info "
      //   "weather-box  dawn-twilight-box ";
      // display: flex;
      justify-content: space-evenly;
      align-content: center;
      padding: 2rem;

      .alert-box {
        display: none;
        background: red;
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        height: 40px;
        font-size: 1rem;
        padding: 0.65rem 3rem;
        text-align: center;
      }

      .weather-box {
        text-align: center;
        margin-right: 1rem;

        .weather-img {
          width: 150px;
          margin: 0 auto;
        }

        .weather-desc {
          font-size: 1.3rem;
        }

        .city {
          font-size: 2rem;
          padding: 1rem 0;
        }

        .temp-info {
          padding: 0.5rem 0;
          border-radius: 10px;
          transition: 0.3s;
          width: 60%;
          margin: 0 auto;

          &:hover {
            cursor: pointer;
            background: rgba(67, 161, 255, 0.83);
          }
        }
      }

      .weather-side {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // align-items: stretch;

        .weather-info {
          // background: rgba(0, 0, 0, 0.6);
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          border-radius: 10px;
          border: 1px solid #d4d4d4;
          padding: 1rem 1rem;
          font-size: 1.3rem;
          line-height: 1.9;

          &__sub-container {
            margin: 0.5rem 0.5rem;
            text-align: center;
            font-size: 1.5rem;
            text-align: center;
          }

          &__text {
            display: inline-block;
            font-size: 1.2rem;
            margin-left: 0.5rem;
            padding: 0.5rem 0;
            font-family: 'Roboto', 'sans-serif';
            font-weight: normal;
          }
        }

        .sunrise-sunset-box {
          display: flex;
          justify-content: space-evenly;
          border: 1px solid #d4d4d4;
          border-radius: 10px;
          margin-top: 1rem;
          font-size: 2rem;
          text-align: center;
          padding: 0.8rem;

          .sunrise,
          .sunset {
            width: 70px;
            text-align: center;
            font-size: 1.3rem;
            // margin: 0.5rem;
          }
        }
      }
    }



    &__date-time-msg {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      // padding: 2rem;
      padding: 3rem;

      .time-date {
        // position: absolute;
        // top: 50px;
        // left: 50px;
        line-height: 1;

        .clock {
          font-size: 4rem;
          font-weight: bold;
        }

        .date {
          font-size: 2rem;
        }
      }

      .quote {
        &__box {
          // position: absolute;
          // bottom: 30px;
          font-size: 1.3rem;
          font-style: italic;
          text-align: center;
          margin: 2rem;
          align-self: center;
        }

        &__text {
          font-size: 1.3rem;
        }

        &__author {
          font-size: 1.2rem;
          float: right;
          margin-top: 1rem;
        }
      }
    }

    &__todo {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      grid-row: span 2;

      .input-field {
        width: 100%;
      }

      .display-field {
        width: 100%;
        margin-bottom: 0.5rem;

        .task-title {
          margin: 1rem 0;
        }

        .tasks-list {
          overflow-y: auto;
        }
      }

      .todo {
        &-input {
          width: 70%;
          padding: 1rem;
          border-radius: 8px;
          border: none;
          background: rgba(0, 0, 0, 0.5);
          font-size: 1.2rem;
          color: #fff;

          &::placeholder {
            color: #fff;
          }

          &:focus {
            background: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}