@media screen and (max-width: 1400px) {
  .temp-info {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1200px) {

  .main-section {
    grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    height: auto;
    grid-gap: 2rem;

    .container {
      &__todo {
        grid-row: 3/span 4;
      }
    }
  }

  .bg-image-container {
    height: 200vh;
  }
}

@media screen and (max-width: 650px) {

  .bg-image-container {
    height: 300vh;
    background: $mobile-bg;
  }

  .main-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;

    .container {
      margin: 2rem 2rem 1rem 2rem;

      &__weather {
        grid-template-columns: 1fr;
        padding: 2rem;

        .weather-box {
          margin: 0 0 1rem 0;
        }

        .weather-week {
          grid-template-columns: repeat(2, 1fr);
          margin: 2rem 0 0 0;
          padding: 0;
        }
      }

      &__date-time-msg {
        justify-content: space-evenly;
        padding: 1rem;


        .time-date {
          margin: 1rem auto;

          .clock {
            font-size: 3rem;
            margin: 0 auto;
          }

          .date {
            font-size: 1.5rem;
          }
        }
      }

      &__todo {
        .todo-input {
          width: 100%;
        }

        .task-title {
          text-align: center;
        }
      }
    }
  }

  .tasks-list {
    &__item {
      width: 100%;
    }
  }

  .btn {
    // width: 25%;
    margin: 1rem auto;
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .bg-image-container {
    height: 350vh;
  }

  .main-section {
    .container__weather {
      .weather-week {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .bg-image-container {
    height: 450vh;
  }
}